* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-yellow: hsl(47, 88%, 63%);
  --neutral-grey: hsl(0, 0%, 50%);
  --neutral-black: hsl(0, 0%, 7%);
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-VariableFont_wght.ttf');
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-yellow);
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

article.blog-container {
  width: 380px;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 10px 0px 0px rgba(0,0,0,0.91);
  border: 2px solid #000;
  transition: .2s ease-in all;
}

article.blog-container:hover {
  box-shadow: 8px 10px 0px 5px rgba(0,0,0,0.91);
}

img.illustration {
  border-radius: 8px;
  border: none;
}

section.article-info {
  margin-top: .5rem;
}

div.badge {
  margin-top: .8rem;
  width: 90px;
  height: fit-content;
  padding: .5rem;
  text-align: center;
  background-color: var(--primary-yellow);
  color: var(--neutral-black);
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  margin-bottom: .5rem;
}

span.date {
  font-weight: 600;
  font-size: 12px;
}

section.article-text {
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 800;
  transition: .2s ease-in;
  cursor: pointer;
}

h2:hover {
  color: var(--primary-yellow);
}

p {
  color: var(--neutral-grey);
  margin-bottom: 1rem;
}

div.user-info {
  width: 100%;
  display: flex;
  align-items: center;
}

img.user-avatar {
  width: 35px;
  margin-right: .5rem;
}

h3 {
  font-weight: 700;
  font-size: 14px;
}

@media (width <= 380px) {
  body {
    padding: 1rem;
  }

  article.blog-container {
    width: 320px;
  }
}

.attribution { font-size: 11px; text-align: center; margin-top: 1rem; }
.attribution a { color: hsl(228, 45%, 44%); }